@import "../../../scss/partials/variables";

.PageLayout {
  margin: 0 auto;
  padding: 50px 14px;
  max-width: 1440px;
  min-height: calc(100vh - 80px);

  @media (min-width: $mobile) {
    padding: 60px 21px;
  }

  @media (min-width: $tablet) {
    padding: 70px 10%;
  }
}
