@import "../../scss/partials/variables";

.login-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__top {
    padding: 30px;
    flex: 1;
  }

  &__header {
    margin-top: 30px;
    text-align: center;
  }

  &__subheader {
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
  }

  &__bottom {
    padding: 30px;
    text-align: center;
    border-top: 1px solid $border;
  }

  &__text {
    display: inline-block;
    color: $dark;
    margin: 0 5px;
    text-align: center;
  }

  &__btn {
    display: inline-block;

    color: $primary;
    margin: 0 5px;
  }

  &__form {
    margin-top: 40px;

    &-line {
      margin-bottom: 15px;

      &:last-child {
        margin-top: 30px;
        margin-bottom: unset;
      }
    }
  }
}
