@import "../../../scss/partials/variables";

.navbar-auth {
  display: flex;
  align-items: center;
  padding-left: 25px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 5px;

    &:last-child {
      display: none;

      @media (min-width: $tablet) {
        display: initial;
      }
    }
  }

  &__account {
    display: none;
  }
}
