.SignUpModal {
  &__form {
    display: grid;
    row-gap: 14px;
    column-gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "first last"
      "email email"
      "password password"
      "submit submit";

    &-line {
      &--first {
        grid-area: first;
      }
      &--last {
        grid-area: last;
      }
      &--email {
        grid-area: email;
      }
      &--password {
        grid-area: password;
      }
      &--submit {
        grid-area: submit;
      }
    }
  }
}
