@import "../../../scss/partials/variables";

.FooterBar {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $fill-light;

  @media (min-width: $mobile) {
    padding: 21px;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 28px;
    height: 75px;
  }

  &__brand {
    margin-bottom: 7px;

    @media (min-width: $tablet) {
      margin-bottom: unset;
    }

    &-link {
      display: flex;
      align-items: center;

      svg {
        width: auto;
        height: 37px;
      }
    }
  }

  &__credits {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      margin-left: 21px;
    }

    &-text {
      font-size: 15px;
      text-align: center;
    }
  }
}
