@import "../../../scss/partials/variables";

.ModalFooter {
  padding: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fill-light;

  &__copy {
    text-align: center;
    font-size: 15px;
    max-width: 80%;
  }

  &__button {
    display: inline-block;
    margin-left: 7px;
    font-size: 15px;
    font-weight: 500;
    color: $text-medium;
    text-decoration: underline;

    &:hover {
      color: $text-dark;
    }
  }
}
