@import "../../../scss/partials/variables";

.ModalFooter {
  padding: 0 16px;
  min-height: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-7;

  &__copy {
    text-align: center;
    max-width: 80%;
  }

  &__button {
    display: inline-block;
    margin-left: 7px;
    font-weight: 600;
    color: $secondary-1;
    text-decoration: underline;

    &:hover {
      color: $secondary-2;
    }
  }
}
