@import "../../../scss/partials/variables";

.PageHeaderAction {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 60px;
    flex-direction: row;
    align-items: flex-end;
    text-align: left;
  }

  &__content {
    margin-bottom: 21px;

    @media (min-width: $tablet) {
      margin-bottom: unset;
    }
  }

  &__subheading {
    font-size: 18px;
    margin-top: 7px;
  }
}
