.AccountDelete {
  &__form {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "password confirm-password"
      "submit submit";
    row-gap: 14px;
    column-gap: 14px;
  }

  &__item {
    &--password {
      grid-area: password;
    }
    &--confirm-password {
      grid-area: confirm-password;
    }
    &--submit {
      grid-area: submit;
    }

    &:last-child {
      margin-top: 14px;
    }
  }
}
