@import "../../../scss/partials/variables";

.HamburgerMenu {
  position: absolute;
  top: calc(100% + 10px);
  left: 30px;
  right: 30px;
  padding: 7px;
  background-color: $fill-lightest;
  border-radius: 12px;

  @media (min-width: $mobile) {
    width: 275px;
    right: unset;
  }

  @media (min-width: $tablet) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    padding: 7px;
    border-radius: 8px;

    &--active {
      color: $action-fill-indigo;
      font-weight: 500;
      background-color: $action-fill-indigo-light;
    }

    &:hover:not(&--active) {
      color: $text-dark;
    }
  }

  &__auth {
    margin-top: 7px;
  }
}
