@import "../../../scss/partials/variables";

.AccountTabs {
  background-color: $background-tertiary;
  border-radius: 12px;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 7px;

    @media (min-width: $laptop) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 7px;
    border-radius: 8px;
    color: $text-secondary;

    @media (min-width: $laptop) {
      text-align: left;
    }

    &:hover:not(&--active) {
      color: $text-primary;
    }

    &--active {
      color: $text-primary;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
