@import "../../../scss/partials/variables";

.AccountTabs {
  background-color: $fill-lightest;
  border-radius: 12px;

  &__list {
    display: flex;
    flex-direction: column;
    padding: 7px;

    @media (min-width: $laptop) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 7px;
    border-radius: 8px;

    @media (min-width: $laptop) {
      text-align: left;
    }

    &:hover:not(&--active) {
      color: $text-dark;
    }

    &--active {
      font-weight: 500;
      color: $action-fill-indigo;
      background-color: $action-fill-indigo-light;
    }
  }
}
