@import "../../../scss/partials/variables";

.PostCard {
  margin-bottom: 28px;
  break-inside: avoid;
  display: grid;
  row-gap: 14px;
  padding: 14px;
  background-color: $fill-lightest;
  border-radius: 12px;

  &:last-child {
    margin-bottom: unset;
  }
}
