@import "../../../scss/partials/variables";

.PostCard {
  position: relative;
  margin-bottom: 28px;
  break-inside: avoid;
  display: grid;
  row-gap: 14px;
  padding: 14px;
  background-color: $fill-lightest;
  border-radius: 12px;

  &:last-child {
    margin-bottom: unset;
  }

  &:hover &__delete {
    visibility: visible;
  }

  &__delete {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    z-index: 199;

    &:disabled {
      cursor: auto;
    }

    &:hover:not(:disabled) {
      svg {
        transform: scale(1.2);
      }
    }
  }
}
