@import "../../../scss/partials/variables";

.FormInputGroup {
  &__label {
    display: block;
    color: $medium-grey;
    margin-bottom: 7px;
  }

  &__input {
    padding: 12px 14px;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    color: $white;
    background-color: $dark-black;
    border: 1px solid transparent;
    border-radius: 8px;

    &:focus {
      border-color: $white;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.1);
      font-style: italic;
      font-weight: inherit;
    }
  }
}
