@import "../../../scss/partials/variables";

.FormInputGroup {
  &__label {
    display: block;
    color: $text-medium;
    margin-bottom: 7px;
  }

  &__input {
    padding: 14px;
    height: 45px;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    color: $text-dark;
    background-color: $fill-lightest;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 150ms ease;

    &:focus {
      border-color: $action-fill-indigo;
    }

    &::placeholder {
      color: $text-light;
      font-style: italic;
      font-weight: inherit;
    }

    &--invalid {
      border-color: $action-fill-red;
    }

    &--valid {
      border-color: $action-fill-green;
    }
  }
}
