@import "../../../scss/partials/variables";

.account-general {
  &__form {
    margin-top: 30px;

    @media (min-width: $laptop) {
      margin-top: 40px;
    }

    &-grid {
      display: grid;
      margin-bottom: 30px;
      row-gap: 25px;
      column-gap: 20px;
      grid-template-areas:
        "username"
        "email"
        "current-pw"
        "new-pw";

      @media (min-width: $laptop) {
        grid-template-areas:
          "username username"
          "email email"
          "current-pw new-pw";
        margin-bottom: 40px;
      }

      &--username {
        grid-area: username;
      }
      &--email {
        grid-area: email;
      }
      &--current-pw {
        grid-area: current-pw;
      }
      &--new-pw {
        grid-area: new-pw;
      }
    }
  }
}
