@import "../../../scss/partials/variables";

.ProfileHeader {
  text-align: center;

  &__avatar {
    margin-bottom: 28px;
  }

  &__copy {
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $laptop) {
      width: 80%;
    }
  }
}
