@import "../../../scss/partials/variables";

.ProfileHeader {
  text-align: center;

  &__heading {
    margin-top: 20px;
    font-size: 50px;
  }

  &__copy {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $laptop) {
      width: 80%;
    }
  }
}
