@import "../../../scss/partials/variables";

.Alerts {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  &__bar {
    padding: 12px 16px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(30, 31, 32, 0.1);
    overflow: hidden;
    background-color: $grey-light;
    color: $grey-dark;

    &--success {
      background-color: $success-light;
      color: $success-dark;
    }

    &--error {
      background-color: $error-light;
      color: $error-dark;
    }
  }

  &__msg {
    text-align: center;
    color: inherit;
    font-weight: 300;
  }
}
