@import "../../../scss/partials/variables";

.Alerts {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  &__bar {
    display: inline-flex;
    margin-top: 10px;
    padding: 0 16px;
    height: 50px;
    text-align: center;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: $action-fill-indigo-light;
    color: $action-fill-indigo;

    &--success {
      background-color: $action-fill-green-light;
      color: $action-fill-green;
    }

    &--error {
      background-color: $action-fill-red-light;
      color: $action-fill-red;
    }
  }

  &__msg {
    text-align: center;
    font-weight: 500;
  }
}
