@import "../../../scss/partials/variables";

.Navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 80px;
  background-color: $fill-lightest;

  &__hamburger {
    display: flex;
    align-items: center;
    margin-right: 25px;

    @media (min-width: $tablet) {
      display: none;
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: 5px;
    }
  }

  &__brand {
    display: none;

    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $tablet) {
      position: initial;
      left: initial;
      top: initial;
      transform: initial;
    }

    &-link {
      display: flex;
      align-items: center;

      svg {
        width: auto;
        height: 37px;
      }
    }
  }

  &__nav {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 0 15px;
    }

    &-link {
      padding: 5px 0;

      &:hover:not(&--active) {
        color: $white;
      }

      &--active {
        color: $white;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;

    &-item {
      margin-left: 15px;

      &:first-child {
        margin-left: 25px;
      }

      &:last-child {
        display: none;

        @media (min-width: $tablet) {
          display: initial;
        }
      }
    }
  }

  &__avatar {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;

    &-btn {
      display: inline-block;
      height: 45px;
      width: 45px;
      font-size: 16px;
      transition: transform 150ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
