@import "../../../scss/partials/variables";

.PostComment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: unset;
  }

  &__avatar-link {
    flex-shrink: 0;
    margin-right: 7px;
  }

  &__content {
    position: relative;
    flex: 1;
    background-color: $fill-light;
    border-radius: 8px;
    padding: 7px;
  }

  &__author {
    display: block;
    color: $text-dark;
    font-size: 15px;
    font-weight: 500;
  }

  &__text {
    flex: 1;
    font-size: 15px;
    word-break: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
  }

  &__content:hover &__delete {
    opacity: 1;
  }

  &__delete {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 499;
    opacity: 0;
    transition: opacity 150ms ease;

    &:disabled {
      cursor: auto;
    }

    &:hover:not(:disabled) {
      svg {
        transform: scale(1.2);
      }
    }
  }
}
