@import "../../../scss/partials/variables";

.PostComment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: unset;
  }

  &__avatar-link {
    flex-shrink: 0;
    margin-right: 7px;
  }

  &__content {
    position: relative;
    flex: 1;
    background-color: $fill-light;
    border-radius: 8px;
    padding: 7px;
  }

  &__author {
    display: block;
    color: $text-dark;
    font-size: 15px;
    font-weight: 500;
  }

  &__text {
    flex: 1;
    font-size: 15px;
  }

  &__content:hover &__delete {
    visibility: visible;
  }

  &__delete {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    z-index: 199;

    &:disabled {
      cursor: auto;
    }

    &:hover:not(:disabled) {
      svg {
        transform: scale(1.2);
      }
    }
  }
}
