@import "../../../scss/partials/variables";

.FormInput {
  padding: 16px;
  height: 56px;
  width: 100%;
  background-color: $grey-7;
  border: 2px solid transparent;
  border-radius: $radius-m;
  font-weight: 600;
  color: $dark-1;

  &:focus {
    border-color: $primary-1;
    background-color: $white;
  }

  &::placeholder {
    color: $dark-8;
    font-weight: inherit;
  }
}
