@import "../../../scss/partials/variables";

.PostEngagement {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__count {
    color: $text-dark;
    padding: 7px;
    font-size: 15px;
    font-weight: 400;
    margin-right: 7px;
  }
}
