@import "../../../scss/partials/variables";

.PostEngagement {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
  }

  &__icon {
    margin: 0 4px;
  }

  &__count {
    color: $text-dark;
    font-size: 14px;
    font-weight: 500;
    margin: 0 4px;
  }
}
