@import "../../scss/partials/variables";

.button {
  display: inline-block;
  border-radius: 12px;
  font-size: inherit;
  font-weight: 600;
  border: 1px solid $border;

  &[data-style="primary"] {
    color: $white;
    border-color: $primary;
    background-color: $primary;

    &:hover {
      border-color: $primary-hover;
      background-color: $primary-hover;
    }
  }

  &[data-style="secondary"] {
    color: $dark;
    background-color: $white;

    &:hover {
      border-color: $border-hover;
    }
  }

  &[data-size="sm"] {
    height: 45px;
    padding: 0 14px;
  }

  &[data-size="lg"] {
    height: 50px;
    padding: 0 16px;
  }

  &[data-width="full"] {
    width: 100%;
  }
}
