@import "../../scss/partials/variables";

.button {
  display: inline-block;
  height: 45px;
  padding: 0 14px;
  font-size: inherit;
  font-weight: 600;
  color: $dark;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 12px;

  &:hover {
    border-color: $border-hover;
  }

  &--primary {
    color: $white;
    border-color: $primary;
    background-color: $primary;

    &:hover {
      border-color: $primary-hover;
      background-color: $primary-hover;
    }
  }

  &--error {
    color: $white;
    border-color: $error;
    background-color: $error;

    &:hover {
      border-color: $error-hover;
      background-color: $error-hover;
    }
  }

  &--large {
    height: 50px;
    padding: 0 16px;
  }

  &--full {
    width: 100%;
  }
}
