@import "../../scss/partials/variables";

.games {
  margin: 0 auto;
  padding: 80px 30px;
  max-width: 1440px;
  min-height: 100vh;

  @media (min-width: $tablet) {
    padding: 80px 40px;
  }

  &__card-container {
    columns: 310px;
    gap: 30px;
  }

  &__card-item {
    margin-bottom: 30px;
    break-inside: avoid;

    &:last-child {
      margin-bottom: unset;
    }
  }
}
