@import "../../../scss/partials/variables";

.CubeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 8px;
  background-color: $action-fill-indigo-light;
}
