@import "../../../scss/partials/variables";

.AlertsList {
  position: fixed;
  bottom: 14px;
  right: 14px;
  display: flex;
  flex-direction: column;
  z-index: 999;

  @media (min-width: $mobile) {
    bottom: 21px;
    right: 21px;
  }

  @media (min-width: $tablet) {
    bottom: 28px;
    right: 28px;
  }
}
