@import "../../../scss/partials/variables";

.PostContent {
  &__text {
    color: $text-medium;
    word-break: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
  }

  &__image {
    display: block;
    margin-top: 14px;
    border-radius: 8px;
    max-width: 100%;
  }
}
