@import "../../../scss/partials/variables";

.PostCommentFeed {
  &__form-wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 7px;
  }

  &__form {
    flex: 1;
    display: flex;
  }

  &__submit {
    margin-left: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      cursor: auto;
      svg {
        fill: $fill-medium;
      }
    }

    &:hover:not(:disabled) {
      svg {
        transform: scale(1.2);
      }
    }
  }
}
