@import "../../../scss/partials/variables";

.PageHeader {
  margin-bottom: 60px;
  text-align: center;

  &__heading {
    font-size: 50px;
  }

  &__subheading {
    font-size: 20px;
    margin-top: 10px;
    color: $text-secondary;
  }
}
