@import "../../../scss/partials/variables";

.ModalHeader {
  margin-bottom: 32px;

  &__heading {
    text-align: center;
  }

  &__subheading {
    margin-top: 4px;
    font-size: 16px;
    text-align: center;
  }
}
