@import "../../../scss/partials/variables";

.ModalHeader {
  margin-bottom: 28px;

  &__heading {
    text-align: center;
  }

  &__subheading {
    text-align: center;
    font-size: 18px;
    margin-top: 7px;
  }
}
