@import "../../../scss/partials/variables";

.ButtonSpinner {
  &__circle {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top-color: $fill-white;
    border-right-color: $fill-white;
    border-radius: 50%;
    animation-name: infinite-spinning;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 400ms;

    &--indigo {
      border-top-color: $action-fill-indigo;
      border-right-color: $action-fill-indigo;
    }
  }
}

@keyframes infinite-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
