@import "../../../scss/partials/variables";

.PostCardEngagement {
  display: flex;
  align-items: center;

  &__group {
    display: flex;
    padding: 5px 0;
    align-items: center;
    margin-right: 15px;
  }

  &__num {
    margin-left: 7px;
    font-weight: 400;
  }
}
