@import "../../../scss/partials/variables";

.UserInfoGroup {
  display: inline-grid;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 10px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    display: block;
    color: inherit;
    font-weight: 500;
    color: $text-dark;
  }

  &__created-at {
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
}
