@import "../../../scss/partials/variables";

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 14px;
  font-size: inherit;
  font-weight: 600;
  color: $text-white;
  background-color: $fill-medium;
  border-radius: 8px;
  transition: background-color 150ms ease, color 150ms ease, border-color 150ms ease;

  &:hover {
    background-color: $fill-medium;
  }

  &--outline {
    color: $fill-medium;
    background-color: transparent;
    border: 1px solid $fill-medium;

    &:hover {
      background-color: $fill-medium;
      color: $text-white;
    }
  }

  &--indigo {
    background-color: $action-fill-indigo;
    &:hover {
      background-color: $action-fill-indigo-dark;
    }

    &:disabled {
      background-color: $action-fill-indigo-dark;
      cursor: auto;
    }
  }

  &--set {
    width: 175px;
  }

  &--full {
    width: 100%;
  }
}
