@import "../../scss/partials/variables";

.account-nav {
  width: 100%;
  overflow: hidden;
  margin: 80px 0;
  border: 1px solid $border;
  border-radius: 12px;

  @media (min-width: $tablet) {
    display: flex;
  }

  &__sidebar {
    background-color: $light-grey;

    @media (min-width: $tablet) {
      width: 250px;
    }

    @media (min-width: $laptop) {
      width: 275px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;

    @media (min-width: $tablet) {
      flex-direction: column;
      justify-content: flex-start;
      padding: 30px 0;
    }

    @media (min-width: $laptop) {
      padding: 40px 0;
    }
  }

  &__item {
    @media (min-width: $tablet) {
      margin-bottom: 3px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0 5px;

    @media (min-width: $tablet) {
      width: 100%;
      height: unset;
      padding: 10px 30px;
    }

    @media (min-width: $laptop) {
      width: 100%;
      height: unset;
      padding: 10px 40px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $primary;
      border-radius: 4px;
      opacity: 0;

      @media (min-width: $tablet) {
        width: 2px;
        height: 100%;
        left: unset;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }

    // Remove hover styles for active link
    &:hover:not(&--active) {
      color: $dark;
    }

    &--active {
      color: $primary;

      &::after {
        opacity: 1;
      }
    }
  }

  &__main {
    padding: 30px;

    @media (min-width: $tablet) {
      flex: 1;
    }

    @media (min-width: $laptop) {
      flex: 1;
      padding: 40px;
    }
  }
}
