@import "../../scss/partials/variables";

.account-nav {
  width: 100%;
  overflow: hidden;
  margin: 80px 0;

  @media (min-width: $tablet) {
    display: flex;
  }

  &__sidebar {
    background-color: $background-tertiary;
    border-radius: 12px;

    @media (min-width: $tablet) {
      width: 250px;
    }
  }

  &__list {
    display: flex;
    padding: 7px;

    @media (min-width: $tablet) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 1;
    margin-right: 7px;

    &:last-child {
      margin-right: unset;
    }

    @media (min-width: $tablet) {
      margin-right: unset;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: unset;
      }
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 7px 10px;
    border-radius: 8px;
    color: $text-secondary;

    @media (min-width: $tablet) {
      text-align: left;
    }

    &:hover:not(&--active) {
      color: $text-primary;
    }

    &--active {
      color: $text-primary;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__main {
    margin: 30px 0;
    padding: 0 10px;

    @media (min-width: $tablet) {
      margin: 0 40px;
      padding: 20px 0;
      flex: 1;
    }
  }
}
