.AccountProfile {
  &__form {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "description description"
      "location gamertag"
      "platform ."
      "submit submit";
    row-gap: 14px;
    column-gap: 14px;
  }

  &__item {
    &--description {
      grid-area: description;
    }
    &--location {
      grid-area: location;
    }
    &--gamertag {
      grid-area: gamertag;
    }
    &--platform {
      grid-area: platform;
    }
    &--submit {
      grid-area: submit;
    }

    &:last-child {
      margin-top: 14px;
    }
  }
}
