@import "../../../scss/partials/variables";

.PostTabs {
  display: flex;

  &__item {
    flex: 1;

    &:first-child {
      margin-right: 7px;
    }
  }

  &__btn {
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 7px;
    border-radius: 8px;
    background-color: $fill-light;

    &:hover:not(&--active) {
      color: $text-dark;
    }

    &--active {
      font-weight: 500;
      color: $action-fill-indigo;
      background-color: $action-fill-indigo-light;
    }
  }
}
