@import "../../../scss/partials/variables";

.navbar-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 30px;
  right: 30px;
  padding: 7px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 12px;

  @media (min-width: $mobile) {
    width: 275px;
    right: unset;
  }

  @media (min-width: $tablet) {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 7px 10px;
    border-radius: 8px;

    &--active {
      color: $primary;
    }

    &:hover {
      background-color: $light-grey;
      color: $dark;
    }
  }

  &__btn {
    display: inline-block;
    width: 100%;
    height: 45px;
    padding: 0 14px;
    font-size: inherit;
    font-weight: 600;
    color: $white;
    background-color: $primary;
    border-radius: 8px;

    &:hover {
      background-color: $primary-hover;
    }
  }

  &__auth {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid $border;
  }
}
