@import "../../../scss/partials/variables";

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 24px;
    width: auto;
    fill: $fill-dark;
  }

  &--primary {
    svg {
      fill: $purple;
    }
  }

  &--secondary {
    svg {
      fill: $orange;
    }
  }
}
