@import "../../../scss/partials/variables";

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 24px;
    width: auto;
    fill: $fill-dark;
    transition: transform 150ms ease, fill 150ms ease;
  }

  &--indigo {
    svg {
      fill: $action-fill-indigo;
    }
  }

  &--grey {
    svg {
      fill: $fill-medium;
    }
  }
}
