@import "../../scss/partials/variables";

.AccountPage {
  &__grid {
    width: 100%;
    display: grid;
    column-gap: 28px;
    row-gap: 28px;
    overflow: hidden;

    @media (min-width: $laptop) {
      grid-template-columns: 300px 1fr;
    }
  }

  &__tabs {
    width: 100%;
  }

  &__main {
    width: 100%;

    @media (min-width: $laptop) {
      padding: 14px 0;
    }
  }
}
