@import "../../../scss/partials/variables";

.ModalClose {
  position: absolute;
  right: 14px;
  top: 14px;
  padding: 5px;

  &:hover {
    svg {
      transform: scale(1.2);
      fill: $action-fill-indigo;
    }
  }
}
