@import "../../../scss/partials/variables";

.AccountMenu {
  position: absolute;
  top: calc(100% + 7px);
  left: 28px;
  right: 28px;
  padding: 7px;
  background-color: $fill-lightest;
  border-radius: 12px;
  z-index: 499;

  @media (min-width: $mobile) {
    width: 275px;
    left: unset;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
  }

  &__item {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    padding: 7px;
    border-radius: 8px;

    &--active {
      color: $action-fill-indigo;
      background-color: $action-fill-indigo-light;
      font-weight: 500;
    }

    &:hover:not(&--active) {
      color: $text-dark;
    }
  }
}
