@import "../../../scss/partials/variables";

.AccountMenu {
  position: absolute;
  top: calc(100% + 10px);
  left: 30px;
  right: 30px;
  padding: 7px;
  background-color: $background-secondary;
  border-radius: 12px;

  @media (min-width: $mobile) {
    width: 275px;
    left: unset;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__item {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    color: $medium-grey;

    &--active {
      color: $white;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover {
      color: $white;
    }
  }
}
