@import "../../scss/partials/variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  z-index: 199;
  padding: 15px 20px;
  background-color: $white;
  border-bottom: 1px solid $border;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    height: 80px;
  }

  &__hamburger {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      display: none;
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: 5px;
      background-color: transparent;

      svg {
        fill: $dark;
      }
    }
  }

  &__brand {
    display: none;

    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $tablet) {
      position: initial;
      left: initial;
      top: initial;
      transform: initial;
    }

    &-link {
      display: flex;
      align-items: center;

      svg {
        width: auto;
        height: 35px;

        @media (min-width: $tablet) {
          height: 40px;
        }
      }
    }
  }

  &__nav {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 0 10px;
    }

    &-link {
      padding: 5px 0;
      font-size: 14px;

      &:hover {
        color: $dark;
      }
    }
  }
}
