@import "../../scss/partials/variables";

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 80px;
  background-color: $white;
  border-bottom: 1px solid $border;

  &__hamburger {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      display: none;
    }

    &-btn {
      display: flex;
      align-items: center;
      padding: 5px;

      svg {
        fill: $dark;
      }
    }
  }

  &__brand {
    display: none;

    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $tablet) {
      position: initial;
      left: initial;
      top: initial;
      transform: initial;
    }

    &-link {
      display: flex;
      align-items: center;

      svg {
        width: auto;
        height: 37px;
      }
    }
  }

  &__nav {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 0 10px;
    }

    &-link {
      padding: 5px 0;

      // Remove hover styles for active link
      &:hover:not(&--active) {
        color: $dark;
      }

      &--active {
        color: $primary;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    padding-left: 25px;

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 0 5px;

      &:last-child {
        display: none;

        @media (min-width: $tablet) {
          display: initial;
        }
      }
    }
  }

  &__account {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}
