@import "./variables";

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: $text-primary;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h1 {
  font-weight: 800;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

span {
  font-size: inherit;
}

p {
  font-size: inherit;
}

label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  font-size: inherit;
  color: inherit;
}
