@import "./variables";

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $dark-4;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: $dark-1;
  font-weight: 600;
  font-size: 56px;
}

h2 {
  color: $dark-1;
  font-weight: 600;
  font-size: 48px;
}

h3 {
  color: $dark-1;
  font-weight: 600;
  font-size: 40px;
}

h4 {
  color: $dark-1;
  font-weight: 500;
  font-size: 32px;
}

h5 {
  color: $dark-1;
  font-weight: 500;
  font-size: 24px;
}

h6 {
  color: $dark-1;
  font-weight: 500;
  font-size: 18px;
}

span {
  font-size: inherit;
}

p {
  font-size: inherit;
}

label {
  font-size: 13px;
  color: $dark-4;
  font-weight: 400;
}

a {
  font-size: inherit;
  color: inherit;
}
