@import "./variables";

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    sans-serif, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: $text-4;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h1 {
  color: $text-1;
  font-weight: 800;
  font-size: 36px;
}

h2 {
  color: $text-1;
  font-weight: 800;
  font-size: 30px;
}

h3 {
  color: $text-1;
  font-weight: 700;
  font-size: 24px;
}

h4 {
  color: $text-1;
  font-weight: 600;
  font-size: 18px;
}

span {
  font-size: inherit;
}

p {
  font-size: inherit;
}

label {
  font-size: 13px;
  color: $text-4;
  font-weight: 400;
}

a {
  font-size: inherit;
  color: inherit;
}
