$primary: #613bff;
$primary-hover: #5534df;
$secondary: #fa7267;
$dark: #1e1f20;
$white: #ffffff;
$grey: #848484;
$light-grey: #f7f7f8;
$success: #53d769;
$error: #ff4e4e;

$border: rgba(132, 132, 132, 0.2);
$placeholder: rgba(132, 132, 132, 0.2);
$border-hover: rgba(132, 132, 132, 0.6);

$mobile: 375px;
$tablet: 768px;
$laptop: 1026px;
$desktop: 1440px;
