$mobile: 375px;
$tablet: 768px;
$laptop: 1026px;
$desktop: 1440px;

$primary-1: #6c5dd3;
$primary-2: #7e71d9;
$primary-3: #9185de;
$primary-4: #a39ae4;
$primary-5: #b5aee9;
$primary-6: #c8c2ef;
$primary-7: #dad6f4;
$primary-8: #edebfa;

$secondary-1: #3f8cff;
$secondary-2: #579aff;
$secondary-3: #6fa9ff;
$secondary-4: #87b7ff;
$secondary-5: #9fc6ff;
$secondary-6: #b7d4ff;
$secondary-7: #cfe2ff;
$secondary-8: #e7f1ff;

$text-1: #11142d;
$text-2: #2f3147;
$text-3: #4d4f62;
$text-4: #6a6c7c;
$text-5: #888a96;
$text-6: #a6a7b0;
$text-7: #c4c4ca;
$text-8: #e1e2e5;

$dark-1: #1b1d21;
$dark-2: #38393d;
$dark-3: #545659;
$dark-4: #717274;
$dark-5: #8d8e90;
$dark-6: #aaaaac;
$dark-7: #c6c7c8;
$dark-8: #e3e3e3;

$grey-1: #e4e4e4;
$grey-2: #e7e7e7;
$grey-3: #ebebeb;
$grey-4: #eeeeee;
$grey-5: #f1f1f1;
$grey-6: #f5f5f5;
$grey-7: #f8f8f8;
$grey-8: #fcfcfc;

$orange-1: #ff754c;
$orange-2: #ff8662;
$orange-3: #ff9879;
$orange-4: #ffa98f;
$orange-5: #ffbaa6;
$orange-6: #ffcbbc;
$orange-7: #ffdcd2;
$orange-8: #ffeee9;

$green-1: #7fba7a;
$green-2: #8fc38b;
$green-3: #9fcb9b;
$green-4: #afd4ac;
$green-5: #bfdcbd;
$green-6: #cfe5cd;
$green-7: #dfeede;
$green-8: #eff6ee;

$white: #ffffff;

$radius-s: 8px;
$radius-m: 16px;
$radius-l: 24px;

$text-dark: #161d25;
$text-medium: #637381;
$text-light: #dfe3e8;
$text-white: #ffffff;

$fill-dark: #161d25;
$fill-medium: #919eab;
$fill-light: #f4f6f8;
$fill-lightest: #f9fafb;
$fill-white: #ffffff;

$action-fill-indigo: #5c6ac4;
$action-fill-indigo-dark: #455093;
$action-fill-indigo-light: #ebecf8;

$action-fill-teal: #47c1bf;
$action-fill-teal-light: #d1f0ef;
$action-fill-red: #de3618;
$action-fill-red-light: #fbe6e2;
$action-fill-green: #50b83c;
$action-fill-green-light: #e9f6e7;
