$mobile: 375px;
$tablet: 768px;
$laptop: 1026px;
$desktop: 1440px;

$text-dark: #161d25;
$text-medium: #637381;
$text-light: #dfe3e8;
$text-white: #ffffff;

$fill-dark: #161d25;
$fill-medium: #919eab;
$fill-light: #f4f6f8;
$fill-lightest: #f9fafb;
$fill-white: #ffffff;

$action-fill-indigo: #5c6ac4;
$action-fill-indigo-dark: #455093;
$action-fill-indigo-light: #ebecf8;

$action-fill-teal: #47c1bf;
$action-fill-teal-light: #d1f0ef;
$action-fill-red: #de3618;
$action-fill-red-light: #fbe6e2;
$action-fill-green: #50b83c;
$action-fill-green-light: #e9f6e7;
